body {
  margin: 0;
  background: #0d0d0d;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

/* Auth Page */
.auth-box {
  margin: 80px auto;
  width: 90%;
  max-width: 400px;
  background: #1a1a1a;
  padding: 30px;
  border-radius: 12px;
}

.title {
  font-size: 32px;
  margin-bottom: 5px;
}

.subtitle {
  opacity: 0.7;
  margin-bottom: 20px;
}

.input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
}

/* Buttons */
.btn {
  width: 100%;
  padding: 14px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
  background: #444;
  color: white;
  font-size: 18px;
}

.btn.green {
  background: #00e676;
}

.btn.red {
  background: #ff1744;
}

/* Dashboard */
.dashboard {
  margin-top: 30px;
}

.dash-title {
  font-size: 26px;
  margin-bottom: 20px;
}

.card {
  background: #1e1e1e;
  padding: 20px;
  width: 90%;
  max-width: 400px;
  margin: 15px auto;
  border-radius: 12px;
}

.mining-box {
  border: 2px solid limegreen;
}
