body {
  font-family: Arial;
  background: #111;
  color: #fff;
  text-align: center;
  padding: 20px;
}

input {
  width: 80%;
  padding: 14px;
  margin: 10px;
  border-radius: 8px;
  border: none;
}

button {
  width: 80%;
  padding: 14px;
  background: #2ecc71;
  border: none;
  margin: 10px;
  border-radius: 8px;
  font-size: 18px;
}

#timer {
  font-size: 32px;
  margin-top: 10px;
}

#info {
  padding: 10px;
  background: #222;
  border-radius: 10px;
}
